.login{
    background: url('../../images/login-bg.jpg') center/cover;
    height: 100vh;
    font-weight: 700;
    position: relative;
    color: white;
}

.btn-social {
    width: 75%;
    height: 55px;
    border-radius: 20px;
    position: relative;
    margin: 15px;
    background-color: #833a37;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    transition: border-color .8s ease, background-color .9s ease;
    z-index: 10;
}
.btn-social:hover {
    background-color: transparent;
    color: white;
}
.social-logo {
    height: 37px;
    width: 37px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    color: white;
}